                            body{
    font-size: 15px;
    background-color: yellow;
    justify-content: center ;
}
h1{
    text-align: center;
    text-shadow: 0px 0px 3px black;
    color: white;
    font-size: 20px;
}
h2{
    text-align: center;
    text-shadow: 0px 0px 3px black;
    color: white;
    font-size: 20px;
}
h3{
    text-align: center;
    text-shadow: 0px 0px 3px black;
    color: white;
    font-size: 20px;
}
h4{
    text-align: center;
    text-shadow: 0px 0px 3px black;
    color: white;
    font-size: 20px;
}
img{
    align-items: center;
    padding-left: 50px;
    padding-bottom: 30px;
    border-radius: 10px;
}
footer{
    background-color: aquamarine;
    width: 250px;

}
a{
    text-decoration: none;
    background-image: linear-gradient(30deg,rgb(0, 191, 255),white,rgb(0, 191, 255));
    color: white;
    text-shadow: 0px 0px 2px black;
    margin: 200px;
    border-radius: 10px;
    padding: 4px;
    
}
.info{
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 500px;
    height: 300px
}
p{
    color: white;
    text-shadow: 0px 0px 2px black;
    font-size: 20px;
    margin-left: 10px;
}
.phone{
    margin-right: 10px;
}
